@media only screen and (min-width: 37.5em) {
/*    header nav ul {
        display: flex;
        justify-content: end;
    }

    header nav li,
    header nav li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }*/
}
