body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(90deg, #BFDBF7 0%, #E1E5F2 5%, #E1E5F2 90%, #BFDBF7 100%);
}
main{
    padding: 1em;
}
img.palete{
    width: 100%;
    max-width: 1200px;
}