:root{

}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E1E5F2;
}
header nav {
    background-color: #022B3A;
}
header nav ul{
    display: flex;
}
header nav li {
    list-style: none;
    padding: 5px 10px;
}
header nav li,
header nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#locationsList, ul.details {
    padding: 0;
    margin: 0;
}
#locationsList>li {
    margin: 15px 0;
    list-style: none;
    background-color: white;
    border-radius: 10px;
    /*border: 3px outset #1F7A8C;*/
    box-shadow: 0 0 .5rem #1F7A8C;
    /*border-bottom: 3px outset #022B3A;*/
}
li.location {
    display: flex;
    justify-content: space-between;
    align-items: center
}
li.location>div{
    flex: 0 1 auto;
}

.add-location {
    padding: 1px 10px 10px;
    background-color: #ccdbdc;
    display: none;
}
.settings {
    background-color: whitesmoke;
    display: none;
}
.show {
    display: block;
    animation: appear 1s;
}
ul.details li{
    border-bottom: 1px dashed gray;
    padding:.5em;
}

button {
    background-color: #BFDBF7;
    color: black;
    border: 1px solid gray;
    border-radius: 4px;
    margin: .2em;
    padding: .4em .9em;
    font-size: 1em;
}
.mainbtn {
    background-color: #1F7A8C;
    color: white;
}
.deletebtn {
    background-color: darkred;
    padding: .2em .5em;
    color: white;
}
input {
    display: block;
    font-size: 1.1em;
    width: 90%;
    padding: .5em;
    /*max-width: 25em;*/
    margin-top: 5px;
    background-color: #e1e1e1;
}
.item-baseline {
    align-self: baseline;
}
/*== animations ==*/
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}